.margin-bottom {
  margin-bottom: 18px;
}

.preset-buttons {
  margin-top: 24px; 
}

.product-user-search-params {
  float: right !important;
}

.export-container {
  text-align: right;
  padding-top: 15px;
}

.loading-overlay-block {
  background-color: #ffffff;
  opacity: 0.5
}

.per-page-container {
   padding-top: 13px;
}
